change_detector_data.json
urls.txt
*__pycache__*
*/config.py
*/secrets.py
twitter-purge/run.sh
*.cache*
*.mypy_cache*

/imdb-random-name/*.gz
/imdb-random-name/*.tsv
/imdb-random-name/*.csv