flake8==7.0.0
mypy==1.10.0

# >=2.1.3 required for python 3.11
# https://github.com/pygame/pygame/issues/3522
pygame==2.5.2

pytest==8.2.1
requests==2.32.3

pytz==2024.1

# For bluesky-purge
atproto==0.0.47