<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Shopping List {{ list_name }}</title>
  </head>
<body role="document">

  <ul class="nav nav-pills justify-content-center navbar bg-light">
    <li class="nav-item">
      <a class="nav-link" href="{{ base_url_path }}">Lists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Items</a>
    </li>
  </ul>

    <div class="container" style="margin-top: 12px">
        <h3>List: {{ list_name }}</h3>
      <div class="bg-light" style="padding: 6px">
        <a href="?">⬇️ Name</a> <a href="?order_by=state">⬇️ Priority</a>
      </div>
      <div id="items-buttons">
        {% for item in items %}
            <button type="button" class="item btn {{ item[2] }}" data-state="{{ item[1] }}"
                data-key="{{ item[0] }}">{{ item[0] }}</button>
        {% endfor %}
      </div>
    </div>

    <footer class="footer">
      <div class="container">
          <input id="newItemName" type="text" placeholder="New item..." />
          <button id="addNewItemButton" type="button" class="btn btn-default"><strong>+</strong></button>
      </div>
    </footer>

    <script type="text/javascript">
      function toggleItem(e) {
        const states = ["btn-default", "btn-warning", "btn-danger", "btn-dark"];
        const actions = ["c", "h", "d", "u"];
        const state = parseInt(e.target.dataset.state, 10);
        const newState = (state+1) % 4;

        e.target.classList.add(states[newState]);
        e.target.classList.remove(states[state]);
        e.target.dataset.state = newState;

        saveItemAction(e.target.dataset.key, actions[state]);
      };

      function saveItemAction(itemName, action) {
        fetch(`{{ base_url_path }}items/${encodeURIComponent("{{ list_name }}")}`, {
          body: encodeURIComponent(`${action}{{separator}}${itemName}`),
          method: "POST",
          headers: {"Content-type": "application/x-www-form-urlencoded; charset=UTF-8"}
        });
      }

      function addNewItemToList() {
        const newItemName = document.getElementById("newItemName").value.trim().toLowerCase();
        if (newItemName.length > 0 && !itemExists(newItemName)) {
          document.getElementById("items-buttons").insertAdjacentHTML(
            "beforeend",
            `<button type="button" class="item btn btn-warning" data-state="1" data-key="${newItemName}">${newItemName}</button>`
          );

          document.getElementById("newItemName").value = "";

          saveItemAction(newItemName, "c");
        }
      };

      function itemExists(itemName) {
        return !!document.querySelector(`#items-buttons button[data-key="${itemName}"]`);
      }

      window.addEventListener('load', () => {
        document.getElementById("items-buttons").onclick = (eventData) => {
          if (eventData.target.nodeName === "BUTTON") {
            toggleItem(eventData);
            return false;
          }
          return;
        };

        document.getElementById("addNewItemButton").onclick = addNewItemToList;

        document.getElementById("newItemName").addEventListener("keypress", (eventData) => {
          if (eventData.keyCode === 13) {
            addNewItemToList();
          }
        }, false);
      });
    </script>
</body>
</html>