<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
    .list {
      margin-right: 12px;
      margin-top: 6px;
    }
    </style>
    <title>Shopping Lists</title>
  </head>
<body role="document">

  <ul class="nav nav-pills justify-content-center navbar bg-light">
    <li class="nav-item">
      <a class="nav-link active" href="#">Lists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Items</a>
    </li>
  </ul>

    <div class="container" role="main" style="margin-top: 42px">
      <div id="list-buttons">
        {% for list in lists %}
            <button type="button" class="list btn btn-lg btn-primary" data-listname="{{ list }}">{{ list }}</button>&nbsp;
        {% endfor %}
      </div>
    </div>

    <script type="text/javascript">
      window.addEventListener('load', () => {
        document.getElementById("list-buttons").onclick = (eventData) => {
          if (eventData.target.nodeName === "BUTTON") {
            window.location = `{{ base_url_path }}items/${encodeURIComponent(eventData.target.dataset.listname)}`;
            return false;
          }
          return;
        };
      });
    </script>
</body>
</html>