<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authenticate</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
<body>
    <div style="padding: 2%">
      <h1>Authenticate</h1>
      <form action="{{ base_url_path }}login" method="POST">
        <div class="mb-3">
          <input type="password" name="pass" size="24" autofocus="autofocus" class="form-control" />
        </div>
          <input type="submit" value="Login" class="btn btn-outline-success" />
      </form>
    </div>
</body>
</html>