<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authenticate</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
<body>
    <h1>Authenticate</h1>
    <form action="{{ base_url_path }}login" method="POST" class="form-inline">
        <input type="password" name="pass" size="24" autofocus="autofocus" class="form-control mr-sm-2" />
        <input type="submit" value="Login" class="btn btn-outline-success my-2 my-sm-0" />
    </form>
</body>
</html>